In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

In [2]:
import os
print(os.getcwd())

/home/belgie/Documents/EPFL/Masters/MA1/ADA/Project/ADA-X0x0/P2/ada-2024-project-x0x0/src/exploration

## Looking at BeerAdvocate

In [3]:
#out of exploration out of src
beers = pd.read_csv('../../baseData/BeerAdvocate/beers.csv')

print(beers.shape)
beers.drop_duplicates(inplace=True)
print(beers.columns)
print(beers.shape)
beers.sample(10)

(280823, 15)
Index(['beer_id', 'beer_name', 'brewery_id', 'brewery_name', 'style',
       'nbr_ratings', 'nbr_reviews', 'avg', 'ba_score', 'bros_score', 'abv',
       'avg_computed', 'zscore', 'nbr_matched_valid_ratings',
       'avg_matched_valid_ratings'],
      dtype='object')
(280823, 15)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
241896,102949,South Pacific Brown,29682,Kauai Island Brewery & Grill,American Brown Ale,9,1,3.64,NaN,NaN,3.8,3.585556,NaN,0,NaN
141794,189139,Black Saison,34426,Jailbreak Brewing Company,Saison / Farmhouse Ale,1,0,3.25,NaN,NaN,5.6,3.250000,NaN,0,NaN
237446,234651,Paisan Porter,43242,JD's Sports Bar and Brewery,American Porter,1,0,3.04,NaN,NaN,5.0,3.040000,NaN,0,NaN
78900,203010,Apricot Wheat,30298,Roseville Brewing Company,Fruit / Vegetable Beer,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
112334,93099,Chico Suave,14,Cambridge Brewing Company,American IPA,4,2,4.13,NaN,NaN,4.8,4.175000,NaN,0,NaN
238801,19561,Anniversary Tripel,818,McKenzie Brewing Company,Tripel,1,1,3.31,NaN,NaN,NaN,3.310000,NaN,0,NaN
233136,291649,Gaelforce IPA,48115,Drumconrath Brewing Company,American IPA,1,0,3.77,NaN,NaN,6.2,3.770000,-0.515113,0,NaN
51242,9681,Diekirch Grande Réserve,2697,Brasserie de Luxembourg Mousel -Diekirch SA,Munich Dunkel Lager,1,1,2.97,NaN,NaN,6.9,2.970000,NaN,0,NaN
111982,45844,Samuel Adams Harvest Pumpkin Ale,35,Boston Beer Company (Samuel Adams),Pumpkin Ale,2635,648,3.58,81.0,72.0,5.7,3.469696,NaN,0,NaN
23484,237741,Blonde Saison,46250,Kettle River Brewing Co.,Saison / Farmhouse Ale,0,0,NaN,NaN,NaN,3.9,NaN,NaN,0,NaN

In [4]:
#out of exploration out of src
breweries = pd.read_csv('../../baseData/BeerAdvocate/breweries.csv')

print(breweries.shape)
breweries.drop_duplicates(inplace=True)
print(breweries.columns)
print(breweries.shape)
breweries.sample(10)

(16758, 4)
Index(['id', 'location', 'name', 'nbr_beers'], dtype='object')
(16758, 4)

,id,location,name,nbr_beers
15735,13658,"Canada, Ontario",Draft Horse Brewery / Navan Feed Mill Restaurant,0
15482,4384,"United States, Montana",Lightning Boy Brewery,1
13177,44401,"United States, Michigan",Kilkenny's Irish Public House,0
9612,47435,"United States, New Jersey",Troon Brewing,30
4489,16829,Germany,Bayreuther Bierbrauerei,14
15617,14916,"Canada, Quebec",Les Brasseurs du Hameau,47
14501,321,Belgium,Brasserie d'Achouffe,20
3556,7613,Germany,Wittichenauer Stadtbrauerei,1
3496,5860,Germany,Brauerei Xaver Wasserburger,0
8776,35011,"United States, California",Sundowner Brewery,32

In [5]:
#out of exploration out of src
users = pd.read_csv('../../baseData/BeerAdvocate/users.csv')

print(users.shape)
users.drop_duplicates(inplace=True)
print(users.columns)
print(users.shape)
users.sample(10)

(153704, 6)
Index(['nbr_ratings', 'nbr_reviews', 'user_id', 'user_name', 'joined',
       'location'],
      dtype='object')
(153704, 6)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
11460,4,0,crazybrody.706269,crazybrody,1.354705e+09,"United States, Indiana"
5261,9,2,wwwagainsttimeca.1149511,wwwagainsttimeca,1.464430e+09,Canada
22094,438,0,seaale.682156,SeaAle,1.340532e+09,"United States, Oregon"
57588,2,0,jake095.919394,jake095,1.420283e+09,NaN
88755,1,0,mountainmaniac.438398,MountainManiac,1.268651e+09,"United States, Colorado"
111826,3,1,jelpernw.408660,jelpernw,1.261825e+09,"United States, New York"
86106,15,0,sethberry.938950,Sethberry,1.423048e+09,NaN
33526,6,2,fivebyfive.793394,FiveByFive,1.397038e+09,Canada
94272,1,0,tagyoureit24824.919262,tagyoureit24824,1.420283e+09,NaN
58931,1,0,thefearedbeard.707199,TheFearedBeard,1.355224e+09,NaN

In [8]:
#there are 151 million lines of text... thats a lot
def parse_ratings_file(file_path, limit):
    data = []
    current_block = []
    i = 0

    with open(file_path, 'r') as file:  
        for line in file:
            i += 1
            
            # if i%1_000_000 == 0: print('line x million: ', i/1_000_000)
            # if i > limit :
            #     print('Saved first ' + str(limit/1_000_000) + ' million lines')
            #     break
            
            line = line.strip()  # Remove leading/trailing whitespace
            
            if not line: #if empty line, '' treated as false
                data.append(current_block)
                current_block = []
                continue #next iteration of loop
            
            if ': ' in line:  
                key, value = line.split(': ', 1)  # Split by the first occurrence of ': '
                current_block.append(value)
            

    # Convert the list of lists to a DataFrame
    return pd.DataFrame(data)


ratings_df = parse_ratings_file('../../Thomas/baseData/RateBeer/ratings.txt', limit = None)

#since our txt file is in a predicatble format we can make things easy on ourselves
new_column_names = [
    'beer_name',
    'beer_id',
    'brewery_name',  
    'brewery_id',    
    'style',         
    'abv',           
    'date',          
    'user_name',     
    'user_id',       
    'appearance',    
    'aroma',         
    'palate',        
    'taste',         
    'overall',       
    'rating',        
    'text'
]

ratings_df.columns =  new_column_names
# Display the first few rows of the DataFrame
ratings_df.sample(10)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
604911,Beer Here Rocketfuel,251896,Beer Here,10032,India Pale Ale (IPA),6.0,1417863600,VastActiv,219974,3,7,3,7,13,3.30,"Bottle 0.33l at Pikkulintu, Helsinki. Colour i..."
937834,Duckstein Braumeister Edition No 06,344505,Mecklenburgische Brauerei Lübz &#40;Carlsberg&...,2513,Pilsener,4.9,1443002400,Kristall-KÃ¶nig,128589,3,7,3,7,11,3.10,Floral-wÃ¼rziger Geruch. Startet sÃ¼Ãlich mit...
6234480,Bartrams Cherry Stout,39627,Bartrams,2118,Stout,4.8,1097056800,Joeh,2876,3,6,4,6,14,3.30,Cask Conditioned at the Bedford Beer Festival ...
3321025,Smog City Hive Five,230064,Smog City Brewing,13523,Amber Ale,7.0,1446634800,thome50,11173,3,6,3,5,14,3.10,Bottle at the Libertine November bottle share....
4812836,Bold City Dukes Cold Nose Brown Ale,98745,Bold City Brewery,9942,Brown Ale,7.0,1418814000,Tmoney99,11116,4,7,4,6,14,3.50,Draft. Poured clear brown color with an averag...
66814,Collider Chornyj Santa (Black Santa),394722,Collider Brewery,25975,Imperial Porter,8.4,1455706800,zvsn,260049,3,6,3,6,12,3.00,Bottle sample at a tasting. Thanks Stas. Brown...
6769550,Chimay Dorée / Spéciale du Potaupré,14228,Chimay,12,Belgian Ale,4.8,1388228400,poech73,264420,4,7,4,7,15,3.70,BiÃ¨re blonde trouble Ã la robe trouble et au...
223365,Unibroue Édition 2004,28540,Unibroue &#40;Sapporo&#41;,180,Belgian Strong Ale,10.5,1079694000,jercraigs,8067,4,7,4,7,15,3.70,Re-rate March 18 2004. Didn't enjoy this as mu...
4784324,Midnight Sun Cohoho Imperial IPA,17442,Midnight Sun Brewing Company,424,Imperial IPA,8.0,1089626400,hopdog,12252,4,8,4,8,17,4.10,Poured a dark amber/orange in color with a hug...
2608772,Furthermore Fatty Boombalatty,71126,Furthermore,6951,Belgian Strong Ale,7.2,1417172400,akoeninger,160031,3,7,3,7,14,3.40,"Amber color. Aroma of coriander, yeasty fruit,..."

In [9]:
ratings_df.to_csv('../../Thomas/baseData/RateBeer/ratings.csv', index=False)

In [10]:
#reviews.txt is ratings.txt but only where there are reviews, (review: True)
#there are 45 million lines of text... thats a lot
def parse_ratings_file(file_path, limit):
    data = []
    current_block = []
    i = 0

    with open(file_path, 'r') as file:  
        for line in file:
            i += 1
            
            # if i%1_000_000 == 0: print('line x million: ', i/1_000_000)
            # if i > limit :
            #     print('Saved first ' + str(limit/1_000_000) + ' million lines')
            #     break
            
            line = line.strip()  # Remove leading/trailing whitespace
            
            if not line: #if empty line, '' treated as false
                data.append(current_block)
                current_block = []
                continue #next iteration of loop
            
            if ': ' in line:  
                key, value = line.split(': ', 1)  # Split by the first occurrence of ': '
                current_block.append(value)
            

    # Convert the list of lists to a DataFrame
    return pd.DataFrame(data)


reviews_df = parse_ratings_file('../../Thomas/baseData/RateBeer/reviews.txt', limit = None)

#since our txt file is in a predicatble format we can make things easy on ourselves
new_column_names = [
    'beer_name',
    'beer_id',
    'brewery_name',  
    'brewery_id',    
    'style',         
    'abv',           
    'date',          
    'user_name',     
    'user_id',       
    'appearance',    
    'aroma',         
    'palate',        
    'taste',         
    'overall',       
    'rating',        
    'text'
]

reviews_df.columns =  new_column_names
# Display the first few rows of the DataFrame
reviews_df.sample(10)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
2164397,Three Hearts 50 år 3.5%,50771,Krönleins Bryggeri,191,Pale Lager,3.5,1207821600,KnutAlbert,26960,3,4,2,5,9,2.30,Can from a Svinesund supermarket.Decent attemp...
6662317,Duysters Loterbol Bruin,22337,Brouwerij Loterbol (was Duysters),1958,Belgian Strong Ale,8.0,1338890400,tderoeck,101220,4,5,4,8,15,3.60,29/V/2012 - 33cl bottle from Geers (Oostakker)...
3903658,Fort Collins Kidd Black Lager (Schwarzbier),30736,Fort Collins Brewery,3891,Schwarzbier,4.5,1240826400,LtDan,74534,3,5,4,8,14,3.40,Appearance: Pours a midnight amber letting al...
5886321,Crate I.P.A.,179853,Crate Brewery,14881,India Pale Ale (IPA),5.8,1395140400,rodbod,294971,4,7,4,8,16,3.90,"Bottle from the Good Spirits Co, Glasgow. Ambe..."
1177510,Pyraser Kellerbier,68754,Pyraser Landbrauerei,4623,Zwickel/Keller/Landbier,4.8,1353322800,3fourths,6533,4,7,3,6,13,3.30,"steinkrug at the new Huttân, Nuremberg.spicy..."
9338,Lucky Beer (Lucky Buddha),51355,Cheerday Hangzhou Qiandaohu Beer Co.,11483,Pale Lager,4.8,1334916000,anders8000,147471,4,3,3,5,12,2.70,Light aromas of hops with nuances of honey & m...
929021,Lidl Perlenbacher Schwarzbier / Black Beer,289391,Mauritius Privatbrauerei,1851,Schwarzbier,4.9,1486724400,Calisky,106177,3,6,3,5,11,2.80,"Couleur brune sombre, trÃ¨s lÃ©gÃ¨re mousse. N..."
5511531,Two Brothers Cane and Ebel,59141,Two Brothers Brewing Company,507,Specialty Grain,7.0,1207389600,Juelze,20180,4,7,3,7,17,3.80,Pours a dark amber color with thick white foam...
556963,Ebrius Brewing IPA,155546,Ebrius Brewing,13678,India Pale Ale (IPA),4.9,1329476400,dreadnord,146208,4,8,4,8,16,4.00,Pours darker yellow with a big white head. Nos...
5900835,Fullers Imperial Stout (10.7%),226113,Fullers,55,Imperial Stout,10.7,1427540400,The_Osprey,249130,4,7,4,7,16,3.80,"Mar 2015 - 500ml, boxed, 10.7%, 2013 vintage. ..."

In [11]:
reviews_df.to_csv('../../Thomas/baseData/RateBeer/reviews.csv', index=False)