In [1]:
import os
import subprocess
from pathlib import Path

"""
Dynamically find the project root (where .git exists) and set it as the current working directory.
"""
project_root = Path(subprocess.check_output(['git', 'rev-parse', '--show-toplevel'], text=True).strip())
os.chdir(project_root)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

In [3]:
#out of exploration out of src
beers = pd.read_csv('data/baseData/matched_beer_data/beers.csv')

print(beers.shape)
beers.drop_duplicates(inplace=True)
print(beers.columns)
print(beers.shape)
beers.sample(10)

(45641, 33)
Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'ba.7', 'ba.8',
       'ba.9', 'ba.10', 'ba.11', 'ba.12', 'ba.13', 'ba.14', 'ba.15', 'rb',
       'rb.1', 'rb.2', 'rb.3', 'rb.4', 'rb.5', 'rb.6', 'rb.7', 'rb.8', 'rb.9',
       'rb.10', 'rb.11', 'rb.12', 'rb.13', 'rb.14', 'scores', 'scores.1'],
      dtype='object')
(45641, 33)

/tmp/ipykernel_167849/3938553731.py:2: DtypeWarning: Columns (0,1,2,3,4,5,8,10,11,12,13,15,16,17,18,19,20,23,25,26,27,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  beers = pd.read_csv('data/baseData/matched_beer_data/beers.csv')

,ba,ba.1,ba.2,ba.3,ba.4,ba.5,ba.6,ba.7,ba.8,ba.9,...,rb.7,rb.8,rb.9,rb.10,rb.11,rb.12,rb.13,rb.14,scores,scores.1
40471,6.5,3.5,3.5,NaN,NaN,209235,Nightmare Moon,Moon Nightmare,31066,Pinthouse Pizza Craft Brewpub,...,15466,Pinthouse Pizza,2,2,NaN,Saison,NaN,-0.721869,1.0,1.0
29744,9.5,4.27,4.6,4.15,NaN,90534,Chinese Rock,Chinese Rock,30247,Earth Eagle Brewings,...,15567,Earth Eagle Brewings,1,1,NaN,Traditional Ale,NaN,-0.143502,1.0,1.0
20224,8.7,3.76,4.145,4.06,NaN,122806,King Korby Imperial Stout,Korby King Stout Imperial,33466,Stoneman Brewery,...,20155,Stoneman Brewery,1,1,NaN,Imperial Stout,NaN,0.242076,0.797259,1.0
39837,8.8,4.17,4.118,3.84,86.0,125966,Mons Meg,Mons Meg,823,The Olde Burnside Brewing Company,...,2325,Olde Burnside Brewing Co.,2,2,NaN,Imperial IPA,NaN,0.325609,1.0,1.0
5733,6.0,NaN,NaN,NaN,NaN,244292,The Cranky Chef,Chef The Cranky,32116,5 Paddles Brewing Co.,...,16900,5 Paddles Brewing Company,1,1,NaN,Golden Ale/Blond Ale,NaN,-0.7218688328204187,0.8303501411083262,1.0
3391,5.0,4.23,4.225,NaN,NaN,145284,Première Neige,Première Neige,1141,Brasserie Dieu du Ciel!,...,364,Dieu du Ciel,27,27,90.0,Witbier,99.0,0.42205928302950446,0.4380041774857912,1.0000000000000002
5234,8.0,3.92,3.92,3.92,NaN,84181,Flying Monkeys Criminal Ancestors,Ancestors Criminal,10796,Flying Monkeys Craft Brewery,...,5547,Flying Monkeys Craft Brewery,3,3,NaN,Imperial IPA,NaN,0.08014046520083194,1.0000000000000002,1.0000000000000002
26444,4.5,3.72,3.716667,NaN,NaN,176816,Heritage,Heritage,40789,Goshen Brewing Company,...,22768,Goshen Brewing Company,2,2,NaN,Kölsch,NaN,0.941793,1.0,1.0
44952,8.0,3.55,3.46,3.58,83.0,97981,Weizenbock,Weizenbock,28187,Crop Bistro & Brewery,...,17045,Crop Bistro and Brewery,4,4,NaN,Weizen Bock,NaN,0.174205,1.0,1.0
35934,10.4,3.97,3.813333,4.03,NaN,274380,Wee Heavy Bevvy Scotch Ale,Bevvy Ale Scotch Wee Heavy,29858,Fifty West Brewing Co,...,15203,Fifty West Brewing Company,2,2,NaN,Scotch Ale,NaN,1.141301,0.518193,0.820181

It seems like they've inner merged RateBeer and BeerAdvocate csvs, lets test that...

In [ ]:
beers_BA = pd.read_csv('data/baseData/BeerAdvocate/beers.csv')


beers_RB = pd.read_csv('data/baseData/RateBeer/beers.csv')

merged_BA_RB = pd.merge(beers_BA,beers_RB, how='inner')
merged_BA_RB

Empty DataFrame
Columns: [beer_id, beer_name, brewery_id, brewery_name, style, nbr_ratings, nbr_reviews, avg, ba_score, bros_score, abv, avg_computed, zscore, nbr_matched_valid_ratings, avg_matched_valid_ratings, overall_score, style_score]
Index: []