In [1]:
import pandas as pd
import gc

In [2]:
gc.collect() #memory
print("RB_US_data.ipynb takes around a minute to run")

RB_US_data.ipynb takes around a minute to run

In [3]:
#rankings data with beer_location and user_location added as extra columns
RB_merged = pd.read_csv('knnData/RB_knn_plus.csv')

In [4]:
RB_merged_clean = RB_merged.dropna(subset=['beer_location','user_location','rating'])
print("We dropped " + str(RB_merged.shape[0] - RB_merged_clean.shape[0]) + " rows due to NaNs in 'beer_location','user_location','rating'")

We dropped 203719 rows due to NaNs in 'beer_location','user_location','rating'

In [5]:
#we are only interested in focusing on the ratings that originate from RB_US users AND are for RB_US beers
RB_US_ratings = RB_merged_clean[RB_merged_clean['user_location'].str.startswith('United States,')]
RB_US_ratings = RB_US_ratings[RB_US_ratings['beer_location'].str.startswith('United States,')]
print("We dropped " + str(RB_merged_clean.shape[0] - RB_US_ratings.shape[0]) + " rows selecting only RB_US states")
RB_US_ratings.tail(2)

We dropped 4523641 rows selecting only RB_US states

,beer_name,beer_id,brewery_name,brewery_id,style,abv,user_id,appearance,aroma,palate,taste,overall,rating,text,user_location,avg,beer_location
5595392,Tracks Light Rail Lager,34920.0,Tracks Brewing Company &#40;USA&#41;,4800.0,Pale Lager,NaN,58936.0,3.0,5.0,3.0,6.0,13.0,3.0,On tap at the brewpub in Tooele. Pours a clear...,"United States, Oregon",2.84,"United States, Utah"
5595393,Tracks Skull Valley Stout,34921.0,Tracks Brewing Company &#40;USA&#41;,4800.0,Stout,NaN,58936.0,4.0,6.0,4.0,6.0,13.0,3.3,The first rating of a Tracks beer ever on Rate...,"United States, Oregon",2.96,"United States, Utah"

In [6]:
#removing the United States part from the location for both beer and user for clarity
RB_US_ratings['user_state'] = RB_US_ratings['user_location'].apply(lambda x: x.split(',')[1].strip())
RB_US_ratings['beer_state'] = RB_US_ratings['beer_location'].apply(lambda x: x.split(',')[1].strip())
RB_US_ratings = RB_US_ratings.drop(['user_location','beer_location'], axis=1)

RB_US_state_ratings = RB_US_ratings[(RB_US_ratings['user_state'] != 'United States') & (RB_US_ratings['beer_state'] != 'United States')]

print("We dropped " + str(RB_US_ratings.shape[0] - RB_US_state_ratings.shape[0]) + " rows due to location only being 'United States'")

We dropped 0 rows due to location only being 'United States'

In [7]:
print("We dropped " + str(RB_merged.shape[0] - RB_US_state_ratings.shape[0]) + " rows all in all"
      + ", going from " + str(RB_merged.shape[0]) + " rows to " + str(RB_US_state_ratings.shape[0]) + " rows")
RB_US_state_ratings = RB_US_state_ratings.reset_index(drop=True)
RB_US_state_ratings.to_csv('knnData/RB_US_knn_text.csv', index=False)
print("Saved 'knnData/RB_US_knn_text.csv'")

We dropped 4727360 rows all in all, going from 7123806 rows to 2396446 rows

Saved 'knnData/RB_US_knn_text.csv'

In [8]:
'''
df=pd.read_csv('USData/RB_US_states_all.csv')
df.head()
'''

"\ndf=pd.read_csv('USData/RB_US_states_all.csv')\ndf.head()\n"