In [2]:
from create_working_df import merged_rating_beer
import os
import pandas as pd

In [3]:
path = 'baseData/minimizedData/'

In [4]:
BA_beer_loc, BA_rating_loc, RB_beer_loc, RB_rating_loc, BA_ratbeer, RB_ratbeer = merged_rating_beer(path)

In [5]:
def get_var_name(var):
    for name, value in globals().items():
        if value is var:
            return name

In [6]:
def save_csv_with_directory_check(df, file_path, idx=True):
    directory = os.path.dirname(file_path)
    
    if not os.path.exists(directory):
        os.makedirs(directory)
    
    df.to_csv(file_path, index=idx)
    print(f"CSV saved to {file_path}")

In [8]:
save_csv_with_directory_check(BA_beer_loc, 'baseData/Modified/' + get_var_name(BA_beer_loc) + '.csv', idx=False)
save_csv_with_directory_check(BA_rating_loc, 'baseData/Modified/' + get_var_name(BA_rating_loc) + '.csv', idx=False)
save_csv_with_directory_check(RB_beer_loc, 'baseData/Modified/' + get_var_name(RB_beer_loc) + '.csv', idx=False)
save_csv_with_directory_check(RB_rating_loc, 'baseData/Modified/' + get_var_name(RB_rating_loc) + '.csv', idx=False)
save_csv_with_directory_check(BA_ratbeer, 'baseData/Modified/' + get_var_name(BA_ratbeer) + '.csv', idx=False)
save_csv_with_directory_check(RB_ratbeer, 'baseData/Modified/' + get_var_name(RB_ratbeer) + '.csv', idx=False)

CSV saved to baseData/Modified/BA_beer_loc.csv
CSV saved to baseData/Modified/BA_rating_loc.csv
CSV saved to baseData/Modified/RB_beer_loc.csv
CSV saved to baseData/Modified/RB_rating_loc.csv
CSV saved to baseData/Modified/BA_ratbeer.csv
CSV saved to baseData/Modified/RB_ratbeer.csv

In [11]:
BA_ratbeer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8393032 entries, 0 to 8393031
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   beer_name      string
 2   beer_id        int64
 3   brewery_name   string
 4   brewery_id     int64
 5   style          string
 6   user_id        string
 7   appearance     float64
 8   aroma          float64
 9   palate         float64
 10  taste          float64
 11  overall        float64
 12  rating         float64
 13  user_location  string
 14  avg            float64
 15  beer_location  string
dtypes: float64(7), int64(3), string(6)
memory usage: 1.0 GB

In [10]:
BA_ratbeer.head()

,Unnamed: 0,beer_name,beer_id,brewery_name,brewery_id,style,user_id,appearance,aroma,palate,taste,overall,rating,user_location,avg,beer_location
0,0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"United States, Washington",2.88,Gabon
1,1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,"United States, New York",3.85,Northern Ireland
2,2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,Northern Ireland,3.85,Northern Ireland
3,3,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,helloloser12345.10867,4.00,3.50,4.00,4.00,4.5,3.98,Northern Ireland,3.85,Northern Ireland
4,4,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,cypressbob.3708,4.00,4.00,4.00,4.00,4.0,4.00,Northern Ireland,3.85,Northern Ireland