In [1]:
import pandas as pd
import gc

In [2]:
gc.collect()
print("BA_US_data.ipynb takes around 2 minutes to run")

BA_US_data.ipynb takes around 2 minutes to run

In [3]:
#rankings data with beer_location and user_location added as extra columns
BA_merged = pd.read_csv('minimizedData/BA_ratings_small_plus.csv')

In [4]:
BA_merged_clean = BA_merged.dropna(subset=['beer_location','user_location','rating'])
print("We dropped " + str(BA_merged.shape[0] - BA_merged_clean.shape[0]) + " rows due to NaNs in 'beer_location','user_location','rating'")

We dropped 500278 rows due to NaNs in 'beer_location','user_location','rating'

In [ ]:
#we are only interested in focusing on the ratings that originate from BA_US users AND are for BA_US beers
BA_US_ratings = BA_merged_clean[BA_merged_clean['user_location'].str.startswith('United States,')]
BA_US_ratings = BA_US_ratings[BA_US_ratings['beer_location'].str.startswith('United States,')]
print("We dropped " + str(BA_merged_clean.shape[0] - BA_US_ratings.shape[0]) + " rows selecting only BA_US states")
#BA_US_ratings.tail(2)

We dropped 1561085 rows selecting only BA_US states

,beer_name,beer_id,brewery_name,brewery_id,style,user_id,appearance,aroma,palate,taste,overall,rating,user_location,avg,beer_location
8393029,Kölsch Ale,19139.0,Summit Station Restaurant & Brewery,885.0,Kölsch,manekineko.2654,3.0,1.5,1.0,1.5,1.5,1.54,"United States, Virginia",2.71,"United States, Maryland"
8393031,Nut Brown Ale,19140.0,Summit Station Restaurant & Brewery,885.0,English Brown Ale,dithyramb.4413,3.0,3.0,3.0,3.0,3.0,3.00,"United States, Maryland",3.10,"United States, Maryland"

In [6]:
#removing the United States part from the location for both beer and user for clarity
BA_US_ratings['user_state'] = BA_US_ratings['user_location'].apply(lambda x: x.split(',')[1].strip())
BA_US_ratings['beer_state'] = BA_US_ratings['beer_location'].apply(lambda x: x.split(',')[1].strip())
BA_US_ratings = BA_US_ratings.drop(['user_location','beer_location'], axis=1)

BA_US_state_ratings = BA_US_ratings[(BA_US_ratings['user_state'] != 'United States') & (BA_US_ratings['beer_state'] != 'United States')]

print("We dropped " + str(BA_US_ratings.shape[0] - BA_US_state_ratings.shape[0]) + " rows due to location only being 'United States'")

We dropped 31 rows due to location only being 'United States'

In [ ]:
print("We dropped " + str(BA_merged.shape[0] - BA_US_state_ratings.shape[0]) + " rows all in all"
      + ", going from " + str(BA_merged.shape[0]) + " rows to " + str(BA_US_state_ratings.shape[0]) + " rows")
BA_US_state_ratings = BA_US_state_ratings.reset_index(drop=True)
BA_US_state_ratings.to_csv('USData/BA_US_states_all.csv', index=False)
print("Saved 'USData/BA_US_states_all.csv'")

In [ ]:
'''
df=pd.read_csv('USData/BA_US_states_all.csv')
df.head()
'''